@accent-color: #007dff;
@box-shadow:  0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
body {
  background: #e5e5e5;
  padding: 10px 0 0 0;
  .nav {
    height: 100vh;
    background: #fff;
    padding-left: 15px;
    padding-right: 0;

    &-logo {
      display: block;
      background: #fafafa;
      height: 100px;
      width: 100%;
      box-shadow: inset 0px -11px 8px -10px #efefef;
      text-align: center;
      line-height: 100px;
      font-size: 30px;
    }
    &-menu {
      padding: 30px 0;
      font-size: 15px;

      &-item {
        height: 30px;
        line-height: 30px;
        margin-left: 30px;
        & a {
          display: block;
          width: 100%;
          height: 100%;
          &:hover {
            color: @accent-color;
          }
        }

      }

    }
    &-description {
      background: #fafafa;
      padding: 15px;
      height: 50vh;
    }
  }

  .hamburger-menu {
    display: inline-block;
    height: 60px;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    &:hover {
      cursor: pointer;
    }
    .menu-item {
      background: @accent-color;
      display: block;
      height: 3px;
      margin: 0 0 10px;
      transition: all 0.3s ease-in-out;
      width: 40px;
    }
    &.open {
      .menu-item {
        margin: 0 0 5px;
        &:first-child {
          transform: rotate(45deg);
          transform-origin: 10px;
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: rotate(-45deg);
          transform-origin: 8px;
        }
      }
    }
  }
  .main {
    &-picker {
      &>* {
        float: right;
      }
      &__item {
        height: 40px;
        line-height: 40px;
        background: #fff;
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
        cursor: pointer;
        box-shadow: @box-shadow;
        &.active {
          background: @accent-color;
          color: #fff;
        }
      }
      & select {
        border: none;
      }

    }
    &-month-list  {
      &-item {
        margin-bottom: 20px;
        box-shadow: @box-shadow;
        &-dates-list {
          background: #fff;
          font-size: 0;
          cursor: pointer;
          &__item {
            font-size: 13px;
            display: inline-block;
            vertical-align: top;
            width: 20%;
            text-align: center;
            height: 40px;
            line-height: 40px;
          }
        }
        &.active{
          .main-month-list-item__title {
            background: @accent-color;
            color: #fff;
          }
        }
        &__title {
          background: #fff;
          cursor: pointer;
          height: 40px;
          line-height: 40px;
          text-align: center;
          border-bottom: 1px solid #efefef;

        }
      }
    }
    &-sort-list {
      &__item {
        text-align: center;
        height: 50px;
        line-height: 50px;
        background: #fff;
        cursor: pointer;
        margin-bottom: 20px;
        &.active {
          background: @accent-color;
          color: #fff;
        }
      }
    }
    &-form {
      background: #fff;
      padding: 20px;
      &__textarea {
        width: 100%;
        height: 300px;
        resize: none;
      }
      &__submit {
        color: #fff;
        padding: 5px 10px;
        border-radius: 5px;
        background: @accent-color;
        border: none;
        margin-top: 15px;
      }
    }

  }

}