body {
  background: #e5e5e5;
  padding: 10px 0 0 0;
}
body .nav {
  height: 100vh;
  background: #fff;
  padding-left: 15px;
  padding-right: 0;
}
body .nav-logo {
  display: block;
  background: #fafafa;
  height: 100px;
  width: 100%;
  box-shadow: inset 0px -11px 8px -10px #efefef;
  text-align: center;
  line-height: 100px;
  font-size: 30px;
}
body .nav-menu {
  padding: 30px 0;
  font-size: 15px;
}
body .nav-menu-item {
  height: 30px;
  line-height: 30px;
  margin-left: 30px;
}
body .nav-menu-item a {
  display: block;
  width: 100%;
  height: 100%;
}
body .nav-menu-item a:hover {
  color: #007dff;
}
body .nav-description {
  background: #fafafa;
  padding: 15px;
  height: 50vh;
}
body .hamburger-menu {
  display: inline-block;
  height: 60px;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}
body .hamburger-menu:hover {
  cursor: pointer;
}
body .hamburger-menu .menu-item {
  background: #007dff;
  display: block;
  height: 3px;
  margin: 0 0 10px;
  transition: all 0.3s ease-in-out;
  width: 40px;
}
body .hamburger-menu.open .menu-item {
  margin: 0 0 5px;
}
body .hamburger-menu.open .menu-item:first-child {
  transform: rotate(45deg);
  transform-origin: 10px;
}
body .hamburger-menu.open .menu-item:nth-child(2) {
  opacity: 0;
}
body .hamburger-menu.open .menu-item:nth-child(3) {
  transform: rotate(-45deg);
  transform-origin: 8px;
}
body .main-picker > * {
  float: right;
}
body .main-picker__item {
  height: 40px;
  line-height: 40px;
  background: #fff;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
body .main-picker__item.active {
  background: #007dff;
  color: #fff;
}
body .main-picker select {
  border: none;
}
body .main-month-list-item {
  margin-bottom: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
body .main-month-list-item-dates-list {
  background: #fff;
  font-size: 0;
  cursor: pointer;
}
body .main-month-list-item-dates-list__item {
  font-size: 13px;
  display: inline-block;
  vertical-align: top;
  width: 20%;
  text-align: center;
  height: 40px;
  line-height: 40px;
}
body .main-month-list-item.active .main-month-list-item__title {
  background: #007dff;
  color: #fff;
}
body .main-month-list-item__title {
  background: #fff;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-bottom: 1px solid #efefef;
}
body .main-sort-list__item {
  text-align: center;
  height: 50px;
  line-height: 50px;
  background: #fff;
  cursor: pointer;
  margin-bottom: 20px;
}
body .main-sort-list__item.active {
  background: #007dff;
  color: #fff;
}
body .main-form {
  background: #fff;
  padding: 20px;
}
body .main-form__textarea {
  width: 100%;
  height: 300px;
  resize: none;
}
body .main-form__submit {
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  background: #007dff;
  border: none;
  margin-top: 15px;
}
