@media (max-width: 767px) {
  .nav {
    width: 0;
    overflow: hidden;
    position: absolute;
    z-index: 2;
    transition: all, 1s;
    opacity: 0;
  }
  .nav-logo {
    overflow: hidden;
  }
  .nav.active {
    position: absolute;
    overflow: hidden;
    opacity: 1;
    z-index: 2;
    width: 80%;
    transition: all, 1s;
  }
}
@media (max-width: 1200px) {
  body .main-picker > * {
    float: left;
  }
}
